<form action="/update/<%= @solve.id %>" method="POST">
<%= @solve.crushyform %>
  <input type="submit" value="Update" class="btn">
</form>
<%# <form action="/update/<%= @solve.id %1>" method="post"> %>
<%#   <% %i(puzzle %> 
<%#         competition %> 
<%#         solver %> 
<%#         time %> 
<%#         scramble %> 
<%#         solution %> 
<%#         penalty %> 
<%#         youtube %> 
<%#         reconstructor %>
<%#         source %>
<%#         source_content).each do |field| %1> %>
<%#     <label> %>
<%#       <%= field.to_s.capitalize %1> %>
<%#     </label> %>
<%#     <% value = @solve.send(field) %1> %>
<%#     <textarea %> 
<%#       cols="20" %> 
<%#       rows="<%= value.to_s.lines.count %1>" %>
<%#       name="<%= field %1>" %>
<%#       class="form-control small" ><%= value %1></textarea> %>
<%#   <% end %1> %>

<%#   <br> %>

<%#   <input type="submit" value="Update" class="btn"> %>
<%# </form> %>
