<label>
  <%= field_name %>
  <select name="<%= query_name %>" class="form-control">
    <option value="">All</option>
    <% all.each do |value| %>
      <option value="<%= value.display_name %>"
      <%= 0 == value.id ? ' selected="selected"' : "" %> >
      <%= value.display_name %>
      </option>
    <% end %>
  </select> 
</label>
