<label>
  <% default = first(name: params[query_name]) %>
  <% default = nil if default.nil? || default.name == "" %>
  <%= field_name %>
  <select name="<%= query_name %>" class="form-control">
    <option value="" 
    <% unless default %>
      selected="selected"
    <% end %>
    >All</option>
    <% order_by(:name).each do |value| %>
      <option value="<%= value.name %>"
      <%= (value == default) ? ' selected="selected"' : "" %> >
      <%= value.name %>
      </option>
    <% end %>
  </select> 
</label>
