<%= link_to "View solve", "/solve/#{@solve.id}" %> <br>
<%= link_to "View average", "/average/edit/#{@solve.average.id}" %>

<form action="/solve/update/<%= @solve.id %>" method="post" id="editform">
  <input type="submit" value="Update" class="form-control">
  <% columns = @solve.columns - [:id] %>
  
  <%= text_input("Average Id", @solve, :average_id) %>
  <%= text_input("Scramble", @solve, :scramble) %>
  <%= text_input("Solution", @solve, :solution) %>
  <%= text_input("Canonical Solution (FMC)", @solve, :canonical_solution) %>
  <%= text_input("Penalty", @solve, :penalty) %>
  <%= text_input("Time", @solve, :time) %>
  <%= text_input("Youtube", @solve, :youtube) %>
  <%= text_input("Source", @solve, :source) %>
  <%= text_input("Source Content", @solve, :source_content) %>
  <%= text_input("Date Added", @solve, :date_added) %>
  <%= text_input("Single Record (WR, NAR, etc)", @solve, :single_record) %>
  <%= text_input("Position in Average (starting at 0)", @solve, :position_in_average) %>
  <%= text_input("Reconstructor", @solve, :reconstructor) %>




  <label>Stats</label>
  <ol id="stat-sections">
      <input type="hidden" name="model[edited_stats]" id="stats-input"></input>
      <% @solve.stat_sections.sort_by(&:position).each do |section| %>
          <%= erb :stat_section, locals: { section: section } %>
      <% end %>
  </ol>

  <br>

  <label>Tags (separated by newlines)</label>
  <% tags = @solve.tags.map(&:name).join("\n") %>
  <textarea name="model[tags]" class="form-control"
    rows="<%= tags.lines.count %>" ><%= tags %></textarea>

  <br>
  <input type="submit" value="Update" class="form-control">
</form>
