<form action="/average/update/<%= @average.id %>" method="post">

  <%= text_input("Record (WR, NAR, etc)", @average, :average_record) %>
  <%= text_input("Solver", @average, :solver) %>
  <%= text_input("Competition", @average, :competition) %>
  <%= text_input("Puzzle", @average, :puzzle) %>
  <%= text_input("Visible? (0 = no, 1 = yes)", @average, :visible) %>

  <br>
  <input type="submit" value="Update" class="form-control">
</form>

<br>
<table class="table table-bordered table-striped table-hover span8">
  <tr>
    <th> Id </th>
    <th> Time </th>
    <th> Actions </th>
  </tr>
  <% @average.solves.sort_by{ |solve| solve.position_in_average || 0 }.each do |solve| %>
    <tr>
      <td> <%= solve.id %> </td>
      <td> <%= solve.time %> </td>
      <td>
        <a href="/solve/edit/<%= solve.id %>">
          Edit
        </a>
        |
        <a href="/solve/delete/<%= solve.id %>">
          Delete
        </a>
      </td>
    </tr>
  <% end %>
</table>

<a href="/solve/new/<%= @average.id %>">New</a>
