<div class="container">
  <div class="row">

    <form action="/" method="GET" class="form-inline">
      <% @fields.each do |field| %>
      <label>
        <%= field[:name].capitalize %>
        <select name="<%= field[:name] %>" class="form-control">
          <option value="">All</option>
          <% field[:all_values].each do |value| %>
            <option value="<%= value %>"
            <%= field[:default_value] == value ? ' selected="selected"' : "" %>
            ><%= value %></option>
          <% end %>
        </select> 
      </label>

      <% end %>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <br><br>
  </div>
  <div class="row">

    <table class="table table-bordered table-striped table-hover span8">
      <tr>
        <th> Solver </th>
        <th> Event </th>
        <th> Time </th>
        <th> Competition </th>
      </tr>
      <% @solves.each do |solve| %>
        <tr>
          <td>
            <%= solve[:solver] %> <br>
          </td>
          <td>
            <%= solve[:puzzle] %>
          </td>
          <td>
            <a href="/solve/<%= solve[:id] %>">
              <%= solve[:time] %>
            </a>
          </td>
          <td>
            <%= solve[:competition] %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
