</div>
<div class="row">

  <form action="/" method="GET" >

    <% @fields.each do |field| %>
      <%= field.html %>
    <% end %>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  <br><br>
</div>
<div class="row">

  <table class="table table-condensed table-bordered table-striped table-hover span8">
    <tr>
      <th> Solver </th>
      <th> Event </th>
      <th> Time </th>
      <th> Competition </th>
      <th> Date Added </th>
    </tr>
    <% @solves.each do |solve| %>
      <tr>
        <td> <%= solve.solver %> <br> </td>
        <td> <%= solve.puzzle %> </td>
        <td> <a href="/solve/<%= solve.id %>"> <%= format_time(solve.time) %> </a> </td>
        <td> <%= solve.competition %> </td>
        <td> <%= date_added(solve) %> </td>
      </tr>
    <% end %>
  </table>
</div>
