<div class="row">

  <form action="/" method="GET" >
    <% RCDB::Solve.fields.each do |field| %>
      <%= field.queryer_html params %>
    <% end %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <br><br>
</div>
<div class="row">
  <table class="table table-condensed table-bordered table-striped table-hover span8">
    <tr>
      <th> Solver </th>
      <th> Event </th>
      <th> Single </th>
      <th> Average </th>
      <th> Time </th>
      <th> Competition </th>
      <th> Date Added </th>
    </tr>
    <% paginate(@solves).where(visible: 1).each do |solve| %>
      <tr>
        <td> <%=h solve.solver %> <br> </td>
        <td> <%=h solve.puzzle.name %> </td>
        <td> <div class="record"><%=h solve.single_record %></div> </td>
        <td> <div class="record"><%=h solve.average.average_record %></div> </td>
        <td> <a href="/solve/<%= solve.id %>"> <%=h solve.format %> </a> </td>
        <td> <%=h solve.competition.name %> </td>
        <td> <%=h date_added(solve) %> </td>
      </tr>
    <% end %>
  </table>

</div>

<%= erb :pager %>
