</div>
<div class="row">

  <form action="/" method="GET" >

    <% ReconDatabase::Solve.fields.each do |field| %>
      <%= field.queryer_html params %>
    <% end %>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  <br><br>
</div>
<div class="row">

  <table class="table table-condensed table-bordered table-striped table-hover span8">
    <tr>
      <th> Solver </th>
      <th> Event </th>
      <th> Single </th>
      <th> Average </th>
      <th> Time </th>
      <th> Competition </th>
      <th> Date Added </th>
    </tr>
    <% @solves.each do |solve| %>
      <tr>
        <td> <%= solve.solver.name %> <br> </td>
        <td> <%= solve.puzzle.name %> </td>
        <td> <%= solve.record %> </td>
        <td> <%= solve.average.record %> </td>
        <td> <a href="/solve/<%= solve.id %>"> <%= solve.format %> </a> </td>
        <td> <%= solve.competition.name %> </td>
        <td> <%= date_added(solve) %> </td>
      </tr>
    <% end %>
  </table>
</div>
