<h2>
  <%= @solve.format %>
  <%= @solve.single_record %>
  <%= @solve.puzzle %>
  solve by
  <%= @solve.solver.name_link %>
  <%= @solve.competition.at %>
</h2>

<% if @solve.puzzle.garronizable? %>
  <div class="garron">
    <a href="<%= garronize(@solve) %>">View on alg.garron</a>
  </div>
<% end %>

<% if @solve.puzzle.name =~ /3x3/ && !@solve.scramble.blank? %>
  <div class="ksim-link">
    <a href=<%= ksim_link(@solve) %> target="_blank" >
      Try scramble on kSim
    </a>
  </div>
<% end %>

<% unless @solve.youtube.nil? || @solve.youtube.empty? %>
  <div class="youtube">
    <a href="http://www.youtube.com/watch?v=<%= @solve.youtube %>" target="_blank" >
      View on YouTube
    </a>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <% unless @solve.scramble.blank? %>
      <h3>Scramble</h3>
      <div class="algorithm well">
        <%= @solve.scramble %> <br><br>
      </div>
    <% end %>

    <h3>Solution</h3>
    <div class="algorithm well">
      <%= format_solution(@solve.solution) %> <br>
    </div>
  </div>

  <div class="col-lg-4">
    <% if @solve.average.solves.count >= 3 %>
      <h3> Average </h3>
      <div class="others_in_average well">
        <%= @solve.average.render %>
      </div>
    <% end %>
  </div>

</div>

<div class="footnotes">
  <div>
    Added: <%= date_added(@solve) %>
  </div>
  <div>
    Reconstructed by: <%= @solve.reconstructor %>
  </div>
</div>

<%# oh my god do not deploy this %>
<div class="edit-button">
  <a href="/solve/edit/<%= @solve.id %>">Edit this solve</a>
</div>
