<div class="solve-links">
  <% if @solve.puzzle.roofpigable? %>
	  <div class="roofpig" data-config="<%= roofpig_form(@solve) %>"></div>
  <% end %>

  <% if @solve.puzzle.garronizable? %>
    <div class="garron solve-link">
      <%= link_to "alg.cubing.net", garronize(@solve), target: "_blank" %>
    </div>
  <% end %>

  <% if @solve.puzzle.name =~ /3x3/ && !@solve.scramble.blank? %>
    <div class="ksim-link solve-link">
      <%= link_to "kSim", ksim_link(@solve), target: "_blank" %>
    </div>
  <% end %>

  <% unless @solve.youtube.nil? || @solve.youtube.empty? %>
    <div class="youtube solve-link">
      <%= link_to "YouTube",
        "http://www.youtube.com/watch?v=#{h @solve.youtube}",
      target: "_blank" %>
    </div>
  <% end %>

  <% unless @solve.average.source_url.blank? %>
    <div class="source solve-link">
      <%= link_to "Source", @solve.average.source_url,
        target: "_blank" %>
    </div>
  <% end %>
</div>
