<h2>
  <%= @solve.format %>
  <%= @solve.record %>
  <%= @solve.puzzle %>
  solve by
  <%= @solve.solver %>
  <%= @solve.competition.at %>
</h2>

<% if @solve.puzzle.garronizable? %>
  <div class="garron">
    <a href="<%= garronize(@solve) %>">View on alg.garron</a>
  </div>
<% end %>
<div class="youtube">
  <% unless @solve.youtube.nil? || @solve.youtube.empty? %>
    <a href="http://www.youtube.com/watch?v=<%= @solve.youtube %>" target="_blank" >
      View on YouTube
    </a>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-8">
    <h3>Scramble</h3>
    <div class="algorithm well">
      <%= @solve.scramble %> <br><br>
    </div>

    <h3>Solution</h3>
    <div class="algorithm well">
      <%= format_solution(@solve.solution) %> <br>
    </div>
  </div>

  <div class="col-lg-4">
    <% if @solve.average.solves.count >= 3 %>
      <h3> Average </h3>
      <div class="others_in_average well">
        <%= @solve.average.render %>
      </div>
    <% end %>
    <div class="tags well">
      <%= @solve.tags.map(&:name).join(", ") %>
    </div>
  </div>

</div>

<div class="footnotes">
  <div>
    Added: <%= date_added(@solve) %>
  </div>
  <div>
    Reconstructed by: <%= @solve.reconstructor %>
  </div>
</div>
