<h2>
  <%= erb :solve_summary, locals: { solve: @solve } %>
</h2>

<div class="row">
  <div class="col-lg-8">
    <% unless @solve.scramble.blank? %>
      <h3>Scramble</h3>
      <div class="algorithm well">
        <%=h @solve.scramble %> <br><br>
      </div>
    <% end %>

    <h3>Solution</h3>
    <div class="algorithm well">
      <%= erb :solution, locals: { solve: @solve } %>
    </div>

    <% unless @solve.stat_sections.empty? %>
      <h3>Stats</h3>
      <%= erb :stats, locals: { solve: @solve } %>
    <% end %>
  </div>

  <div class="col-lg-4">
    <% if @solve.average.solves.count >= 3 %>
      <h3> Average </h3>
      <div class="others_in_average well">
        <%= erb :average_sidebar %>
      </div>
    <% end %>
    <h3>Tags</h3>
    <div class="well tags">
      <%= @solve.all_tags.map(&:name).join(", ") %>
    </div>
  </div>

</div>

<% unless @solve.youtube.blank? %>
  <div class="row">
    <div class="col-lg-8">
      <a href="javascript:void(0);"><h3 class="link-header"
          id="video-header">Video 
          <span id="video-arrow" class="arrow glyphicon glyphicon-chevron-right"></span>
      </h3></a>
      <div id="video">
        <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/<%= @solve.youtube %>" allowfullscreen frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
<% end %>


<%= erb :solve_links %>

<div class="footnotes">
  <div>
    Added: <%=h date_added(@solve) %>
  </div>
  <div>
    Reconstructed by: <%=h @solve.reconstructor %>
  </div>
</div>

<% if current_user %>
  <a href="/solve/edit/<%= @solve.id %>">Edit this solve</a> 
<% end %>
