<h2>
  <%= @solve.display_alone %>
  <%= @solve.puzzle %>
  solve by
  <%= @solve.solver %>
  <%= at @solve.competition %>
</h2>

<div class="youtube">
  <% unless @solve.youtube.nil? || @solve.youtube.empty? %>
    <a href="http://www.youtube.com/watch?v=<%= @solve.youtube %>" target="_blank" >
      View on YouTube
    </a>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-8">
    <h3>Scramble</h3>
    <div class="algorithm well">
      <%= @solve.scramble %> <br><br>
    </div>

    <h3>Solution</h3>
    <div class="algorithm well">
      <%= format_solution(@solve.solution) %> <br>
    </div>
  </div>

  <% if @solve.average.solves.count >= 3 %>
    <div class="col-lg-4">
      <h3> Average </h3>
      <div class="others_in_average well">
        <% @solve.average.solves.each do |solve| %>
          <a href="/solve/<%= solve.id %>">
            <%= solve.display_in_average %> <br>
          </a>
        <% end %>
        = <%= @solve.average.result %>
        <br>
      </div>
    </div>
  <% end %>
</div>

<div class="stats">
  Movecount: <%= @solve.movecount %>
</div>

<div class="footnotes">
  <div>
    Added: <%= date_added(@solve) %>
  </div>
  <div>
    Reconstructed by: <%= @solve.reconstructor %>
  </div>
</div>
