<h2>
  <%=h @solve.format %>
  <%=h @solve.single_record %>
  <%=h @solve.puzzle %>
  solve by
  <%= erb :solver_link, locals: { solver: @solve.solver } %>
  <%= @solve.competition.at %>
</h2>

<div class="row">
  <div class="col-lg-8">
    <% unless @solve.scramble.blank? %>
      <h3>Scramble</h3>
      <div class="algorithm well">
        <%=h @solve.scramble %> <br><br>
      </div>
    <% end %>

    <h3>Solution</h3>
    <div class="algorithm well">
      <%= erb :solution, locals: { solve: @solve } %>
    </div>

    <% unless true # @solve.stats.empty? %>
      <h3>Stats</h3>
      <% stats = @solve.stats.sort_by(&:position) %>
      <table class="table table-bordered">
        <tr>
          <th>Step</th>
          <th>Time</th>
          <th>STM</th>
          <th>stps</th>
          <th>ETM</th>
          <th>etps</th>
        </tr>
        <% stats.each do |stat| %>
          <tr>
            <td><%= stat.name %></td>
            <td><%= stat.time %></td>
            <td><%= stat.stm %></td>
            <td><%= round(stat.stm / stat.time) %></td>
            <td><%= stat.etm %></td>
            <td><%= round(stat.etm / stat.time) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="col-lg-4">
    <% if @solve.average.solves.count >= 3 %>
      <h3> Average </h3>
      <div class="others_in_average well">
        <%= erb :average_sidebar %>
      </div>
    <% end %>
    <h3>Tags</h3>
    <div class="well tags">
      <%= @solve.all_tags.map(&:name).join(", ") %>
    </div>
  </div>
</div>


<%= erb :solve_links %>

<div class="footnotes">
  <div>
    Added: <%=h date_added(@solve) %>
  </div>
  <div>
    Reconstructed by: <%=h @solve.reconstructor %>
  </div>
</div>

<% if current_user %>
  <a href="/solve/edit/<%= @solve.id %>">Edit this solve</a> 
<% end %>
